{{! Sheet Header }}
<header class='sheet-header'>
  <div class='header-main'>
    <div class='character-identity'>
      <div class='profile-hexagon'>
  <img
    class='profile-img'
    src='{{actor.img}}'
    data-edit='img'
    data-action='onEditImage'
    title='{{actor.name}}'
          height='35'
          width='35'
        />
      </div>
      <div class='identity-info'>
        <div class='character-name'>
        <input
          name='name'
          type='text'
          value='{{actor.name}}'
            placeholder='NOM DU PERSONNAGE'
            class='character-name-input'
          />
        </div>
        <div class='character-meta'>
          <input
            type='text'
            name='system.race'
            value='{{system.race}}'
            placeholder='Race'
            class='meta-input race-input'
          />
          <input
            type='text'
            name='system.class'
            value='{{system.class}}'
            placeholder='Classe'
            class='meta-input class-input'
          />
          <input
            type='number'
            name='system.attributes.level.value'
            value='{{system.attributes.level.value}}'
            placeholder='Niveau'
            class='meta-input level-input'
            min='1'
        />
      </div>
    </div>
    </div>

    <div class='vital-stats'>
      <div class='stat-group'>
        <div class='stat-block'>
          <label class='stat-label'>SANTÉ</label>
          <div class='stat-values'>
          <input
              type='number'
            name='system.health.value'
            value='{{system.health.value}}'
              class='stat-input current'
              min='0'
              max='{{system.health.max}}'
          />
            <span class='stat-separator'>/</span>
          <input
              type='number'
            name='system.health.max'
            value='{{system.health.max}}'
              class='stat-input max'
              min='1'
          />
        </div>
      </div>

        <div class='stat-block'>
          <label class='stat-label'>FATIGUE</label>
          <div class='stat-values'>
          <input
              type='number'
              name='system.fatigue.value'
              value='{{system.fatigue.value}}'
              class='stat-input current'
              min='0'
              max='{{system.fatigue.max}}'
            />
            <span class='stat-separator'>/</span>
          <input
              type='number'
              name='system.fatigue.max'
              value='{{system.fatigue.max}}'
              class='stat-input max'
              min='1'
          />
        </div>
      </div>

        <div class='stat-block'>
          <label class='stat-label'>ZEON</label>
          <div class='stat-values'>
            <input
              type='number'
              name='system.zeon.value'
              value='{{system.zeon.value}}'
              class='stat-input current'
              min='0'
              max='{{system.zeon.max}}'
            />
            <span class='stat-separator'>/</span>
          <input
              type='number'
              name='system.zeon.max'
              value='{{system.zeon.max}}'
              class='stat-input max'
              min='0'
          />
        </div>
      </div>

        <div class='stat-block'>
          <label class='stat-label'>KI</label>
          <div class='stat-values'>
          <input
              type='number'
              name='system.ki.value'
              value='{{system.ki.value}}'
              class='stat-input current'
              min='0'
              max='{{system.ki.max}}'
            />
            <span class='stat-separator'>/</span>
          <input
              type='number'
              name='system.ki.max'
              value='{{system.ki.max}}'
              class='stat-input max'
              min='0'
          />
        </div>
      </div>
      </div>

      <div class='combat-stats'>
        <div class='combat-stat'>
          <label class='stat-label'>ATTAQUE</label>
          <input
            type='number'
            name='system.combat.attack.value'
            value='{{system.combat.attack.value}}'
            class='stat-input combat-input'
            readonly
          />
        </div>
        <div class='combat-stat'>
          <label class='stat-label'>DÉFENSE</label>
          <input
            type='number'
            name='system.combat.defense.value'
            value='{{system.combat.defense.value}}'
            class='stat-input combat-input'
            readonly
          />
        </div>
        <div class='combat-stat'>
          <label class='stat-label'>INITIATIVE</label>
          <input
            type='number'
            name='system.combat.initiative.value'
            value='{{system.combat.initiative.value}}'
            class='stat-input combat-input'
            readonly
          />
        </div>
      </div>
    </div>
  </div>

  <div class='header-secondary'>
    <div class='secondary-fields'>
      <div class='field-group'>
        <label class='field-label'>POINTS D'EXPÉRIENCE</label>
        <input
          type='number'
          name='system.experiencePoints'
          value='{{system.experiencePoints}}'
          class='field-input xp-input'
          min='0'
        />
      </div>

      <div class='field-group'>
        <label class='field-label'>POINTS DE DÉVELOPPEMENT</label>
          <input
          type='number'
          name='system.developmentPoints'
          value='{{system.developmentPoints}}'
          class='field-input dp-input'
          min='0'
          />
        </div>

      <div class='field-group'>
        <label class='field-label'>PRÉSENCE</label>
        <input
          type='number'
          name='system.presence'
          value='{{system.presence}}'
          class='field-input presence-input'
          min='1'
        />
      </div>

      <div class='field-group'>
        <label class='field-label'>GENRE</label>
          <input
            type='text'
            name='system.gender'
            value='{{system.gender}}'
          class='field-input gender-input'
          />
      </div>

      <div class='field-group'>
        <label class='field-label'>TAILLE</label>
          <input
            type='text'
            name='system.height'
            value='{{system.height}}'
          class='field-input height-input'
          />
      </div>

      <div class='field-group'>
        <label class='field-label'>APPARENCE</label>
          <input
            type='text'
            name='system.appearance'
            value='{{system.appearance}}'
          class='field-input appearance-input'
        />
      </div>
    </div>
  </div>
</header>
